@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$backgroundColor: #BC865C;
$textColor: #FFFCF7;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
}

body {
  text-transform: uppercase;
  height: 100vh;
  padding: 5rem 2rem;
  background-color: $backgroundColor;
  font-family: Roboto, sans-serif;
  
}

.main-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid white 2px;
  border-radius: 0 0 20px 20px;
}

.text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-top{
  margin: 1rem;
  line-height: 2rem;
}

.bottom-right{
  margin: 1rem;
  line-height: 2rem;
  text-align: right;
  align-self: stretch;
}

.btn-light{
  color: $backgroundColor;
  display: flex;
  justify-content: center;
  margin: -1px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}

.hamburger {
  background: #fff;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  transform: translate(30%, -50%);
  div {
    width: 35px;
    height: 5px;
    background: $backgroundColor;
  }
}

h4 {
  color: $textColor;
  font-weight: 400;
}

@media (max-width: 700px) {
  .text {
    gap: 2rem;
    justify-content: center;
    text-align: center;
  }
  .bottom-right{
    text-align: center;
  }
}
